.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4px;
    border: 1px solid #a9a9a9;
}
.navbar .logo{
    width: max(10%, 80px);

}
.navbar .profile{
    width: 40px ;
}